#profile-hight {
    min-height: 500px !important;
}

a.btn.btn-success.btn-sm {
    color: white;
}

#profile-tab2 {
    color: #cb8e79 !important;
}
#home-tab2{
    color: #cb8e79 !important;
}
.view-mail{
    min-height: 200px;
}
.checkbox-chack{
    
}